@font-face {
  font-family: 'Cera Pro';
  src: url('~@/assets/fonts/Cera-Pro-Light.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('~@/assets/fonts/Cera-Pro-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('~@/assets/fonts/Cera-Pro-Bold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('~@/assets/fonts/Cera-Pro-Black.woff') format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
