// grid
@mixin generate-row {
  #{$row-prefix} {
    display: block;
    position: relative;
    margin: 0;
    height: auto;
    zoom: 1;
    overflow: hidden;
  }
  #{$flex-row-prefix} {
    display: flex;
    flex-direction: row;
  }
  #{$col-prefix} {
    display: block;
    position: relative;
  }
  #{$flex-row-prefix}, #{$flex-row-prefix}, #{$col-prefix} {
    box-sizing: border-box;
  }
  @each $wrap in $flex-wrap {
    #{$flex-row-prefix}-#{$wrap} {
      flex-wrap: #{$wrap};
    }
  }

  @each $justify in $flex-justifies {
    #{$flex-row-prefix}-#{$justify} {
      justify-content: #{$justify};
    }
  }
  @each $key, $value in $flex-aligns {
    #{$flex-row-prefix}-#{$key} {
      align-items: #{$value};
    }
  }
}
@mixin generate-float-col($viewport:'') {
  $cols: '#{$col-prefix}-span#{$viewport}-1';
  @for $i from 2 through $grid-col {
    $cols: '#{$cols},#{$col-prefix}-span#{$viewport}-#{$i},';
  }
  #{$cols} {
    float: left;
    flex: 0 0 auto;
  }
}
@mixin generate-col($viewport: '') {
  @for $i from 1 through $grid-col {
    #{$col-prefix}-span#{$viewport}-#{$i} {
      width: percentage($i / $grid-col);
    }

    #{$col-prefix}-push#{$viewport}-#{$i} {
      left: percentage($i / $grid-col);
    }

    #{$col-prefix}-pull#{$viewport}-#{$i} {
      right: percentage($i / $grid-col);
    }

    #{$col-prefix}-offset#{$viewport}-#{$i} {
      margin-left: percentage($i / $grid-col);
    }

    #{$col-prefix}-order#{$viewport}-#{$i} {
      order: #{$i};
    }
  }
}
@mixin generate-grid($viewport) {
  @include generate-float-col($viewport);
  @include generate-col($viewport);
}

// device sizes
@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin phone-tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin desktop-lg {
  @media (min-width: #{$desktop-lg-width}) {
    @content;
  }
}

// text
@mixin title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  @include phone-tablet {
    font-size: 26px;
    line-height: 30px;
  }
}
@mixin text {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.03em;
  @include phone-tablet {
    font-size: 15px;
    line-height: initial;
  }
}
@mixin subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.03em;
  //color: $gray;
  @include phone-tablet {
    font-size: 15px;
    line-height: initial;
  }
}


@mixin sepia {
  position: relative;
  &:before {
    content: "";
    background-color: $gold-hover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
@mixin dark {
  position: relative;
  &:before {
    content: "";
    background-color: $black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
  }
}
@mixin hover-dark {
  position: relative;
  &:after {
    content: "";
    background-color: $black;
    transition: $transition;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
  }
  &:hover {
    &:after {
      opacity: 0.2;
    }
  }
}